* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background: #222; 
}

.main-content {
  padding: 0px 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  line-height: 1.5;
  list-style: none;
  margin-left: 1.22em;
}

a {
  color: lightblue;
}

a:hover {
  color: yellow;
}

li::before {
  content: '-';
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: 1em;
  margin-top: 1.5em;
}

h1 {
  color: plum;
}

h1::before, h2::before {
  content: '\00a0';
  display: block;
}

h1::after, h1::before {
  content: '============';
  display: block;
  color: plum;
}

h2::after{
  content: '------------';
  display: block;
}

ul